node_modules/
typechain/
.tmp-addresses*.json
data/gmxMigration
data/esGmxDistribution
data/bonds
data/batchSend
data/nft
data/snapshotBalance
data/holders
flattened
distribution-data*.json

#Hardhat files
cache
artifacts
keys.json
.notes.txt
artifacts-zk
